{% extends 'base.html.twig' %}

{% block title %}Fiche Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1>Fiche de contact</h1>
                {{ form_start(contactForm) }}
                <div class="form-group">
                    {{ form_label(contactForm.name) }}
                    {{ form_widget(contactForm.name,{'attr':{'class':'form-control','placeholder':'Enter your name'}}) }}
                    <div class="text-danger">
                        {{ form_errors(contactForm.name) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.surname) }}
                    {{ form_widget(contactForm.surname,{'attr':{'class':'form-control','placeholder':'Enter your surname'}}) }}
                    <div class="text-danger">
                        {{ form_errors(contactForm.surname) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.email) }}
                    {{ form_widget(contactForm.email,{'attr':{'class':'form-control','placeholder':'Enter your email'}}) }}
                    <div class="text-danger">
                        {{ form_errors(contactForm.email) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.destination,'Destination') }}
                    {{ form_widget(contactForm.destination,{'attr':{'class':'form-control'}}) }}
                    <div class="text-danger">
                        {{ form_errors(contactForm.destination) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(contactForm.message) }}
                    {{ form_widget(contactForm.message,{'attr':{'class':'form-control','placeholder':'Your message here...'}}) }}
                    <div class="text-danger">
                        {{ form_errors(contactForm.message) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 mx-auto">
                        <input type="submit" class="btn btn-success" value="Send"/>
                    </div>
                </div>

                {{ form_end(contactForm) }}
                {% for msg in app.flashes('notice') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
